body {
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 50px;
  padding: 25px;
}

.header {
  display: flex;
  align-items: center;
}

.home-container a {
  position: fixed;
  top: 55px;
  right: 70px;
  z-index: 1000;
  font-size: 40px;
  color: #C33432;
  transition: color 0.3s ease;
}

.home-container a:hover {
  color: darkred;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  max-width: 500px;
  margin-top: 330px;
  padding: 20px;
}

.item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.item h3 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex: 1;
}

.item p {
  margin: 0;
  text-align: center;
}

.total {
  padding-bottom: 100px;
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.button-back-next {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.button-back-next button {
  bottom: 20px;
  right: 100px;
}

.button-back-next a {
  margin-left: 10px;
}

#backButton,
#nextButton {
  background-color: #C33432;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 81.35px;
}

#backButton:hover,
#nextButton:hover {
  background-color: #9C2927;
}