body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Arial", sans-serif;
}

h1 {
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 50px;
    padding: 25px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.home-container a {
    position: fixed;
    top: 55px;
    right: 70px;
    z-index: 1000;
    font-size: 40px;
    color: #C33432;
    transition: color 0.3s ease;
}

.home-container a:hover {
    color: darkred;
}

.flavors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
}


.imgOriginal {
    width: 290px;
    height: 160px;
    margin-bottom: 80px;
}

.imgMixberry {
    width: 160px;
    height: 160px;
    margin-bottom: 80px;
}
.imgStberry {
    width: 160px;
    height: 160px;
    margin-bottom: 80px;
}
.imgOatmeal {
    width: 160px;
    height: 160px;
    margin-bottom: 80px;
}
.imgPeach {
    width: 160px;
    height: 160px;
    margin-bottom: 80px;
}


.flavors-item {
    width: calc(33.33% - 20px);
    height: 20em;
    border-radius: 9%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: #f0f0f0;
}
.flavors-item:hover {
    background-color: #C33432
}

.flavors-item::before {
    content: "Original\A 0฿";
    white-space: pre;
    position: absolute;
    bottom: 10px;
    left: 15px;
    padding: 10px;
    border: 2px;
    display: inline-block;
    ;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 100px;
    height: auto;
}

.flavors-item:nth-child(2):before {
    content: "Mixberry\A 5฿";
}

.flavors-item:nth-child(3):before {
    content: "Strawberry\A 5฿";
}

.flavors-item:nth-child(4):before {
    content: "Oatmeal\A 5฿";
}

.flavors-item:nth-child(5):before {
    content: "Peach\A 5฿";
}

.flavors-item:nth-child(6):before {
    content: "Greek Yogurt\A 15฿";
}

.flavors-item i {
    color: gray;
    position: absolute;
    right: 15px;
    font-size: 16px;
    border: 2px;
    background-color: white;
    border: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 256px;
    margin-left: 10px;
    padding: 4px;
    cursor: pointer;
}

.flavors-item.added-to-cart {
    background-color: #C33432;
    color: black;

}

.flavors-item.added-to-cart:hover {
    background-color: #C33432;
    color: black;
}

.button-back-next {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    
}

.button-back-next button {
    bottom: 20px;
    right: 100px;
}

.button-back-next a {
    margin-left: 10px;
}

#backButton, #nextButton {
    background-color: #C33432;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#backButton:hover, #nextButton:hover {
    background-color: #9C2927;
}
